<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibai.plan.warehousing.dao.mapper.TrackerMapper">
  <resultMap id="BaseResultMap" type="com.yibai.plan.warehousing.dao.entity.Tracker">
    <id column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="pr_sn" jdbcType="CHAR" property="prSn" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="station_code" jdbcType="VARCHAR" property="stationCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="purchase_order_qty" jdbcType="INTEGER" property="purchaseOrderQty" />
    <result column="bd" jdbcType="SMALLINT" property="bd" />
    <result column="require_qty" jdbcType="INTEGER" property="requireQty" />
    <result column="expect_exhaust_date" jdbcType="DATE" property="expectExhaustDate" />
    <result column="approve_state" jdbcType="TINYINT" property="approveState" />
    <result column="pur_sn" jdbcType="CHAR" property="purSn" />
    <result column="is_actual_purchase" jdbcType="CHAR" property="isActualPurchase" />
    <result column="purchase_qty" jdbcType="INTEGER" property="purchaseQty" />
    <result column="surplus_qty" jdbcType="INTEGER" property="surplusQty" />
    <result column="pur_state" jdbcType="TINYINT" property="purState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, pr_sn, sku, station_code, sku_name, purchase_order_qty, bd, require_qty, expect_exhaust_date, 
    approve_state, pur_sn, is_actual_purchase, purchase_qty, surplus_qty, pur_state, 
    remark, updated_at, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yibai_oversea_pr_track
    where gid = #{gid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from yibai_oversea_pr_track
    where gid = #{gid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yibai.plan.warehousing.dao.entity.Tracker">
    insert into yibai_oversea_pr_track (gid, pr_sn, sku, 
      station_code, sku_name, purchase_order_qty, 
      bd, require_qty, expect_exhaust_date, 
      approve_state, pur_sn, is_actual_purchase, 
      purchase_qty, surplus_qty, pur_state, 
      remark, updated_at, created_at
      )
    values (#{gid,jdbcType=VARCHAR}, #{prSn,jdbcType=CHAR}, #{sku,jdbcType=VARCHAR}, 
      #{stationCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, #{purchaseOrderQty,jdbcType=INTEGER}, 
      #{bd,jdbcType=SMALLINT}, #{requireQty,jdbcType=INTEGER}, #{expectExhaustDate,jdbcType=DATE}, 
      #{approveState,jdbcType=TINYINT}, #{purSn,jdbcType=CHAR}, #{isActualPurchase,jdbcType=CHAR}, 
      #{purchaseQty,jdbcType=INTEGER}, #{surplusQty,jdbcType=INTEGER}, #{purState,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yibai.plan.warehousing.dao.entity.Tracker">
    insert into yibai_oversea_pr_track
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="prSn != null">
        pr_sn,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="stationCode != null">
        station_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="purchaseOrderQty != null">
        purchase_order_qty,
      </if>
      <if test="bd != null">
        bd,
      </if>
      <if test="requireQty != null">
        require_qty,
      </if>
      <if test="expectExhaustDate != null">
        expect_exhaust_date,
      </if>
      <if test="approveState != null">
        approve_state,
      </if>
      <if test="purSn != null">
        pur_sn,
      </if>
      <if test="isActualPurchase != null">
        is_actual_purchase,
      </if>
      <if test="purchaseQty != null">
        purchase_qty,
      </if>
      <if test="surplusQty != null">
        surplus_qty,
      </if>
      <if test="purState != null">
        pur_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="prSn != null">
        #{prSn,jdbcType=CHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="stationCode != null">
        #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderQty != null">
        #{purchaseOrderQty,jdbcType=INTEGER},
      </if>
      <if test="bd != null">
        #{bd,jdbcType=SMALLINT},
      </if>
      <if test="requireQty != null">
        #{requireQty,jdbcType=INTEGER},
      </if>
      <if test="expectExhaustDate != null">
        #{expectExhaustDate,jdbcType=DATE},
      </if>
      <if test="approveState != null">
        #{approveState,jdbcType=TINYINT},
      </if>
      <if test="purSn != null">
        #{purSn,jdbcType=CHAR},
      </if>
      <if test="isActualPurchase != null">
        #{isActualPurchase,jdbcType=CHAR},
      </if>
      <if test="purchaseQty != null">
        #{purchaseQty,jdbcType=INTEGER},
      </if>
      <if test="surplusQty != null">
        #{surplusQty,jdbcType=INTEGER},
      </if>
      <if test="purState != null">
        #{purState,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yibai.plan.warehousing.dao.entity.Tracker">
    update yibai_oversea_pr_track
    <set>
      <if test="prSn != null">
        pr_sn = #{prSn,jdbcType=CHAR},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="stationCode != null">
        station_code = #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderQty != null">
        purchase_order_qty = #{purchaseOrderQty,jdbcType=INTEGER},
      </if>
      <if test="bd != null">
        bd = #{bd,jdbcType=SMALLINT},
      </if>
      <if test="requireQty != null">
        require_qty = #{requireQty,jdbcType=INTEGER},
      </if>
      <if test="expectExhaustDate != null">
        expect_exhaust_date = #{expectExhaustDate,jdbcType=DATE},
      </if>
      <if test="approveState != null">
        approve_state = #{approveState,jdbcType=TINYINT},
      </if>
      <if test="purSn != null">
        pur_sn = #{purSn,jdbcType=CHAR},
      </if>
      <if test="isActualPurchase != null">
        is_actual_purchase = #{isActualPurchase,jdbcType=CHAR},
      </if>
      <if test="purchaseQty != null">
        purchase_qty = #{purchaseQty,jdbcType=INTEGER},
      </if>
      <if test="surplusQty != null">
        surplus_qty = #{surplusQty,jdbcType=INTEGER},
      </if>
      <if test="purState != null">
        pur_state = #{purState,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yibai.plan.warehousing.dao.entity.Tracker">
    update yibai_oversea_pr_track
    set pr_sn = #{prSn,jdbcType=CHAR},
      sku = #{sku,jdbcType=VARCHAR},
      station_code = #{stationCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      purchase_order_qty = #{purchaseOrderQty,jdbcType=INTEGER},
      bd = #{bd,jdbcType=SMALLINT},
      require_qty = #{requireQty,jdbcType=INTEGER},
      expect_exhaust_date = #{expectExhaustDate,jdbcType=DATE},
      approve_state = #{approveState,jdbcType=TINYINT},
      pur_sn = #{purSn,jdbcType=CHAR},
      is_actual_purchase = #{isActualPurchase,jdbcType=CHAR},
      purchase_qty = #{purchaseQty,jdbcType=INTEGER},
      surplus_qty = #{surplusQty,jdbcType=INTEGER},
      pur_state = #{purState,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where gid = #{gid,jdbcType=VARCHAR}
  </update>
</mapper>