<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibai.plan.warehousing.dao.mapper.YibaiOverseaLogisticsMapper">
  <resultMap id="BaseResultMap" type="com.yibai.plan.warehousing.dao.entity.YibaiOverseaLogistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="station_code" jdbcType="VARCHAR" property="stationCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_state" jdbcType="BIT" property="skuState" />
    <result column="logistics_id" jdbcType="BIT" property="logisticsId" />
    <result column="approve_state" jdbcType="BIT" property="approveState" />
    <result column="approve_uid" jdbcType="VARCHAR" property="approveUid" />
    <result column="approve_at" jdbcType="TIMESTAMP" property="approveAt" />
    <result column="updated_uid" jdbcType="VARCHAR" property="updatedUid" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku, station_code, sku_name, sku_state, logistics_id, approve_state, approve_uid, 
    approve_at, updated_uid, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yibai_oversea_logistics_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yibai_oversea_logistics_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yibai.plan.warehousing.dao.entity.YibaiOverseaLogistics">
    insert into yibai_oversea_logistics_list (id, sku, station_code, 
      sku_name, sku_state, logistics_id, 
      approve_state, approve_uid, approve_at, 
      updated_uid, updated_at)
    values (#{id,jdbcType=INTEGER}, #{sku,jdbcType=VARCHAR}, #{stationCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{skuState,jdbcType=BIT}, #{logisticsId,jdbcType=BIT}, 
      #{approveState,jdbcType=BIT}, #{approveUid,jdbcType=VARCHAR}, #{approveAt,jdbcType=TIMESTAMP}, 
      #{updatedUid,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yibai.plan.warehousing.dao.entity.YibaiOverseaLogistics">
    insert into yibai_oversea_logistics_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="stationCode != null">
        station_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="skuState != null">
        sku_state,
      </if>
      <if test="logisticsId != null">
        logistics_id,
      </if>
      <if test="approveState != null">
        approve_state,
      </if>
      <if test="approveUid != null">
        approve_uid,
      </if>
      <if test="approveAt != null">
        approve_at,
      </if>
      <if test="updatedUid != null">
        updated_uid,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="stationCode != null">
        #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuState != null">
        #{skuState,jdbcType=BIT},
      </if>
      <if test="logisticsId != null">
        #{logisticsId,jdbcType=BIT},
      </if>
      <if test="approveState != null">
        #{approveState,jdbcType=BIT},
      </if>
      <if test="approveUid != null">
        #{approveUid,jdbcType=VARCHAR},
      </if>
      <if test="approveAt != null">
        #{approveAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUid != null">
        #{updatedUid,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yibai.plan.warehousing.dao.entity.YibaiOverseaLogistics">
    update yibai_oversea_logistics_list
    <set>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="stationCode != null">
        station_code = #{stationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuState != null">
        sku_state = #{skuState,jdbcType=BIT},
      </if>
      <if test="logisticsId != null">
        logistics_id = #{logisticsId,jdbcType=BIT},
      </if>
      <if test="approveState != null">
        approve_state = #{approveState,jdbcType=BIT},
      </if>
      <if test="approveUid != null">
        approve_uid = #{approveUid,jdbcType=VARCHAR},
      </if>
      <if test="approveAt != null">
        approve_at = #{approveAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUid != null">
        updated_uid = #{updatedUid,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yibai.plan.warehousing.dao.entity.YibaiOverseaLogistics">
    update yibai_oversea_logistics_list
    set sku = #{sku,jdbcType=VARCHAR},
      station_code = #{stationCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_state = #{skuState,jdbcType=BIT},
      logistics_id = #{logisticsId,jdbcType=BIT},
      approve_state = #{approveState,jdbcType=BIT},
      approve_uid = #{approveUid,jdbcType=VARCHAR},
      approve_at = #{approveAt,jdbcType=TIMESTAMP},
      updated_uid = #{updatedUid,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--取12点之前的所有数据-->
  <select id="selectApproveState"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yibai_oversea_logistics_list
    where approve_state = 2
    and approve_at <![CDATA[<]]>#{approveAt,jdbcType=TIMESTAMP},
  </select>
</mapper>